# Security
###############################################################################
*.env
/config/.env

# Framework
###############################################################################
/vendor/

# Configuration
###############################################################################
/config/participants.json

# Directories
###############################################################################
/tmp/
/logs/
/cache/

# Operating System Files
###############################################################################
.DS_Store

# Overrides
###############################################################################
!**/.keep
!**/.gitkeep
.lando.local.yml
